<header>
  <h1>Booking App</h1>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'Your Bookings', bookings_path %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
